In [1]:
import sys
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime,timedelta
from sklearn.utils import shuffle

In [2]:
df = pd.read_csv("Traffic_most_frequent_road_dataset_after_prepocessed.csv")
df

,Start_Lat,Start_Lng,Time,Temperature(F),Visibility(mi),Humidity(%),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Accident
0,33.638980,-117.730350,433,58.0,10.0,84.0,Cloudy,False,False,False,False,True,False,False,False,False,False,False,False
1,47.549580,-122.313470,1030,52.0,10.0,61.0,Clear,False,False,False,False,False,False,False,False,False,False,False,True
2,33.686620,-117.766000,843,71.1,10.0,55.0,Partly Cloudy,False,False,False,False,False,False,False,False,False,False,False,False
3,47.974910,-122.190790,1073,61.0,10.0,56.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False
4,35.363611,-119.347778,722,83.0,10.0,46.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26640,33.700624,-117.775189,41,51.0,10.0,63.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False
26641,42.858170,-123.246925,1238,47.0,0.5,100.0,Rain,False,False,False,False,False,False,False,False,False,False,False,False
26642,36.532448,-120.489860,872,79.0,10.0,42.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False
26643,47.656780,-122.322440,393,50.0,10.0,74.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False
26644,45.381390,-122.752780,711,78.0,10.0,39.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False

In [3]:
df['Accident'].value_counts(ascending = True)

True      2665
False    23980
Name: Accident, dtype: int64

In [4]:
subset_morning = df.loc[(df['Time'] > 360) & (df['Time'] <= 720)]
print(len(subset_morning))

6704

In [5]:
subset_morning['Accident'].value_counts(ascending = True)

True      745
False    5959
Name: Accident, dtype: int64

In [6]:
subset_noon = df.loc[(df['Time'] > 720) & (df['Time'] <= 1080)]
print(len(subset_noon))

10287

In [7]:
subset_noon['Accident'].value_counts(ascending = True)

True     1194
False    9093
Name: Accident, dtype: int64

In [8]:
fair = df.loc[df['Weather_Condition'] == 'Fair']
fair['Accident'].value_counts(ascending = True)

True       69
False    7746
Name: Accident, dtype: int64

In [9]:
clear = df.loc[df['Weather_Condition'] == 'Clear']
clear['Accident'].value_counts(ascending = True)

True     1035
False    2714
Name: Accident, dtype: int64

In [10]:
cloudy = df.loc[(df['Weather_Condition'] == 'Cloudy') & (df['Weather_Condition'] == 'Mostly Cloudy') & (df['Weather_Condition'] == 'Partly Cloudy')]
cloudy['Accident'].value_counts(ascending = True)

Series([], Name: Accident, dtype: int64)

In [11]:
df['Amenity'].value_counts(ascending = True)

True         9
False    26636
Name: Amenity, dtype: int64

In [12]:
df['Bump'].value_counts(ascending = True)

False    26645
Name: Bump, dtype: int64

In [13]:
df['Crossing'].value_counts(ascending = True)

True        30
False    26615
Name: Crossing, dtype: int64

In [14]:
df['Give_Way'].value_counts(ascending = True)

True         6
False    26639
Name: Give_Way, dtype: int64

In [15]:
df['Junction'].value_counts(ascending = True)

True      4923
False    21722
Name: Junction, dtype: int64

In [16]:
df['Railway'].value_counts(ascending = True)

True        57
False    26588
Name: Railway, dtype: int64

In [17]:
df['Roundabout'].value_counts(ascending = True)

False    26645
Name: Roundabout, dtype: int64

In [18]:
df['Stop'].value_counts(ascending = True)

True        12
False    26633
Name: Stop, dtype: int64

In [19]:
df['Traffic_Calming'].value_counts(ascending = True)

False    26645
Name: Traffic_Calming, dtype: int64

In [20]:
df['Traffic_Signal'].value_counts(ascending = True)

True       103
False    26542
Name: Traffic_Signal, dtype: int64

In [21]:
df['Temperature(F)'].describe()

count    26303.000000
mean        59.022359
std         14.472925
min         10.400000
25%         48.900000
50%         59.000000
75%         69.000000
max        113.000000
Name: Temperature(F), dtype: float64

In [24]:
Tem_1 = df.loc[(df['Temperature(F)'] >= 59) & (df['Temperature(F)'] <= 73)]
st = Tem_1['Temperature(F)'].value_counts()
st

61.0    734
63.0    692
59.0    687
64.0    667
68.0    632
       ...
61.2      1
68.7      1
62.2      1
69.6      1
59.2      1
Name: Temperature(F), Length: 63, dtype: int64

In [28]:
st.sum(axis = 1)

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>