# Data Preprocessing

### Importing the Dataset

In [47]:
import sys
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime,timedelta
from sklearn.utils import shuffle

In [48]:
df = pd.read_csv("US_Accidents_Dec20_updated.csv")
df.shape

(1516064, 47)

In [49]:
df['Street'].value_counts(ascending = True)

SW 143rd Ct           1
 Sunflower Trl        1
 E Snyder Rd          1
 W Kansas Ave         1
 Cobra Way            1
                  ...
I-10 E            14681
I-5 S             18432
I-95 S            19406
I-95 N            22407
I-5 N             26645
Name: Street, Length: 93048, dtype: int64

In [50]:
df['Street'].describe()

count     1516064
unique      93048
top         I-5 N
freq        26645
Name: Street, dtype: object

In [51]:
subset = df.loc[df['Street'] == 'I-5 N']

In [52]:
subset['Start_Time'] = pd.to_datetime(subset['Start_Time'], errors = 'coerce')
subset['Time'] = (subset['Start_Time'].dt.hour % 24) * 60 + subset['Start_Time'].dt.minute % 60
del(subset['Start_Time'])
subset

C:\Users\mosta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\mosta\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,Severity,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Time
1143,A-2717743,2,2016-03-25 19:19:56,37.893600,-121.282380,37.907766,-121.287459,1.017,Between French Camp Rd and Downing Ave - Accid...,NaN,...,False,False,False,False,False,Day,Day,Day,Day,799
1147,A-2717747,2,2016-03-25 19:28:59,37.893600,-121.282380,37.900737,-121.284926,0.512,Between Mathews Rd and Downing Ave - Accident.,NaN,...,False,False,False,False,False,Day,Day,Day,Day,804
1149,A-2717749,2,2016-03-25 19:39:18,37.893600,-121.282380,37.898700,-121.284200,0.366,At French Camp Rd - Accident.,NaN,...,False,False,False,False,False,Day,Day,Day,Day,808
1358,A-2717958,2,2016-03-30 23:55:19,38.580200,-121.505010,38.586570,-121.503080,0.452,At J St - Accident.,NaN,...,False,False,False,False,False,Day,Day,Day,Day,1075
1453,A-2718053,2,2016-04-01 21:05:55,38.580200,-121.505010,38.586570,-121.503080,0.452,At J St - Accident.,NaN,...,False,False,False,False,False,Day,Day,Day,Day,905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515968,A-4239311,2,2019-08-23 19:54:44,45.046340,-122.974260,45.051269,-122.971600,0.364,At Brooklake Rd/Exit 263 - Accident.,NaN,...,False,False,False,False,False,Day,Day,Day,Day,954
1515983,A-4239326,2,2019-08-23 21:29:45,42.973098,-123.336071,42.973331,-123.335980,0.017,At OR-99/County Road 20/Exit 103 - Accident.,NaN,...,False,False,False,False,False,Day,Day,Day,Day,1049
1515992,A-4239335,2,2019-08-23 22:36:20,44.753858,-123.050660,44.757750,-123.049450,0.275,At Talbot Rd/Exit 242 - Accident.,NaN,...,False,False,False,False,False,Day,Day,Day,Day,1116
1516041,A-4239384,2,2019-08-23 15:25:30,33.686620,-117.766000,33.693650,-117.770610,0.553,At Jeffrey Rd/Exit 97 - Accident.,NaN,...,False,False,False,False,False,Day,Day,Day,Day,896
1516045,A-4239388,2,2019-08-23 16:57:04,34.323752,-118.500833,34.340840,-118.521130,1.654,At CA-14/Exit 162 - Accident.,NaN,...,False,False,False,False,False,Day,Day,Day,Day,988

In [53]:
subset.to_csv('Traffic_most_frequent_road_dataset.csv', index = False)
print(len(subset))

26645

In [54]:
df = pd.read_csv('Traffic_most_frequent_road_dataset.csv')

In [55]:
for i in range(100):
    subset = shuffle(subset)

In [56]:
df['Accident'] = ""

In [57]:
colm = df['Accident']
ln = len(colm)

for i in range(2665):
    colm[i] = 'True'
for i in range(2665, ln):
    colm[i] = 'False'

C:\Users\mosta\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\mosta\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [58]:
df['Accident'] = colm
df

,ID,Severity,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,...,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Time,Accident
0,A-2717743,2,2016-03-25 19:19:56,37.893600,-121.282380,37.907766,-121.287459,1.017,Between French Camp Rd and Downing Ave - Accid...,NaN,...,False,False,False,False,Day,Day,Day,Day,799,True
1,A-2717747,2,2016-03-25 19:28:59,37.893600,-121.282380,37.900737,-121.284926,0.512,Between Mathews Rd and Downing Ave - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,804,True
2,A-2717749,2,2016-03-25 19:39:18,37.893600,-121.282380,37.898700,-121.284200,0.366,At French Camp Rd - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,808,True
3,A-2717958,2,2016-03-30 23:55:19,38.580200,-121.505010,38.586570,-121.503080,0.452,At J St - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,1075,True
4,A-2718053,2,2016-04-01 21:05:55,38.580200,-121.505010,38.586570,-121.503080,0.452,At J St - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,905,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26640,A-4239311,2,2019-08-23 19:54:44,45.046340,-122.974260,45.051269,-122.971600,0.364,At Brooklake Rd/Exit 263 - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,954,False
26641,A-4239326,2,2019-08-23 21:29:45,42.973098,-123.336071,42.973331,-123.335980,0.017,At OR-99/County Road 20/Exit 103 - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,1049,False
26642,A-4239335,2,2019-08-23 22:36:20,44.753858,-123.050660,44.757750,-123.049450,0.275,At Talbot Rd/Exit 242 - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,1116,False
26643,A-4239384,2,2019-08-23 15:25:30,33.686620,-117.766000,33.693650,-117.770610,0.553,At Jeffrey Rd/Exit 97 - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,896,False
26644,A-4239388,2,2019-08-23 16:57:04,34.323752,-118.500833,34.340840,-118.521130,1.654,At CA-14/Exit 162 - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,988,False

In [59]:
for i in range(100):
    df = shuffle(df)

In [60]:
df

,ID,Severity,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,...,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Time,Accident
11075,A-3596733,2,2020-03-23 07:46:17,33.638980,-117.730350,33.638980,-117.730350,0.000,At I-405 - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,433,False
2480,A-2890527,2,2017-02-13 23:10:30,47.549580,-122.313470,47.551750,-122.316660,0.211,At Corson Ave/Exit 162 - Accident. in the midd...,NaN,...,False,False,False,False,Day,Day,Day,Day,1030,True
20973,A-3980745,2,2018-10-10 14:33:36,33.686620,-117.766000,33.693650,-117.770610,0.553,At Jeffrey Rd/Exit 97 - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,843,False
9185,A-3479145,2,2020-05-07 18:27:35,47.974910,-122.190790,47.974910,-122.190790,0.000,At WA-529/Pacific Ave/Exit 193 - Accident. Rig...,NaN,...,False,False,False,False,Day,Day,Day,Day,1073,False
25754,A-4214014,2,2019-08-30 13:53:28,35.363611,-119.347778,35.363611,-119.347778,0.000,At CA-58 - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,722,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5224,A-3116988,2,2020-11-11 01:59:26,33.700624,-117.775189,33.703206,-117.776864,0.203,NB 5 JSO YALE. VEH SIDEWAYS IN HOV AND 3 ADD'T...,NaN,...,False,False,False,False,Night,Night,Night,Night,41,False
24628,A-4166835,2,2019-04-08 00:38:28,42.858170,-123.246925,42.892030,-123.238150,2.381,At G Bates Rd/Exit 95 - Accident.,NaN,...,False,False,False,False,Night,Night,Day,Day,1238,False
5463,A-3146060,2,2020-10-11 16:21:00,36.532448,-120.489860,36.601968,-120.581910,7.012,Incident on I-5 NB near MOUNTAIN VIEW AVE Driv...,NaN,...,False,False,False,False,Day,Day,Day,Day,872,False
9050,A-3468507,1,2020-04-30 07:03:14,47.656780,-122.322440,47.656780,-122.322440,0.000,At 45th St/50th St/Exit 169 - Accident. Hard s...,NaN,...,False,False,False,False,Day,Day,Day,Day,393,False
26124,A-4225731,2,2019-07-25 15:51:24,45.381390,-122.752780,45.384600,-122.751590,0.229,At Nyberg St/Exit 289 - Accident.,NaN,...,False,False,False,False,Day,Day,Day,Day,711,False

In [61]:
df.to_csv('Traffic_most_frequent_road_dataset.csv', index = False)